  body{
      text-align: center;
      margin: 0;
      padding: 0;
      word-break: break-all;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    /* .Head{
      padding:2px ;
    } */

    .about-header{
      padding: 30px;
      border-bottom: 1px solid #cbc6c6 !important;
      background-color: rgb(235, 232, 232);
      height:100px;
      
  }


.navbar-expand-lg {
     flex-flow: row nowrap;
    justify-content: flex-start; 
    text-align: right;
    /* float: right; */
}
    
    .Main-body {
    background-color: white;
    margin-left: 260px;
    /* margin-top: 7px; */
    /* padding-top: 50px;
    padding: 32px; */
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
    line-height: 24px;
    line-height: var(--font16-lineHeight);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .sub-main{
    color: black;
    text-align: right;
    padding: 2px;
    text-decoration: underline;
    }

    a.sub-main{
    /* justify-content: right; */
    width: 100%;
    font-size: large;
    font-weight: 500;
    text-decoration: none;
    padding-inline-end: 20px;

    /* background-color: whitesmoke; */
    }

    .sub-main:hover{
    /* color: #556cd6; */
    color:  black;
    text-decoration: none;
    }

    .Content{
    /* width: 80%; */
    padding-right: 50px;
    padding-left: 50px;
    /* margin-right: auto;
    margin-left: auto;
    margin-top: 42px; */
    text-align: justify;
    padding: 30px;
    background-color: white;
    color: #697386;
    line-height: 24px;
    border-bottom: 1px solid #cdc5c5;
    }

    

    .sub-content{
    color: #2a2f45;
    padding-left: 7px;
    }

    h1,h2.sub-content{
    display: inline-block;
    position: relative;
    }

    h2.sub-content:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: 0.4s ease-out all .1s;
    background-color: .5s ease;
    }

    h2.sub-content:hover:after {
    width: 100%;
    background:#2a2f45;
    }

    h4{
    /* text-decoration: underline; */
    color:#2a2f45;
    }

    h3:hover{
    color:rgba(5, 4, 4, 0.945);
    }
            
    .line-style{
      display: inline-block;
      position: relative;
  }

  .line-style:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease;
    background-color: .5s ease;
  }

  .line-style:hover:after {
    width: 100%;
    background:#697386;
  }

  .title {
    display: inline-block;
    position: relative;
}

.title:after {
  content: '';
  display:flex ;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease;
  background-color: .5s ease;
  color: #697386;
}

.title:hover:after {
  width: 100%;
  background:#65666e;
}

  .heading{
      width: 156px;
      color: #4d4a4a;
      text-decoration: none;
      /* text-align: left; */
   }

    .heading:hover{
      color: black;
     }

    .note{
   
      display: flex;
      text-align: justify;
      width: 82%;
    }

    p.mt-1:active{
    background-color: #f5fbff; 
    }

    p.mt-1:visited{
    background-color: #f5fbff;
    }

    .intro{
    color:black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    text-align:left;
    padding: 2px;
    }

    a.intro{
    color: #697386;
    padding: 2px;
    }
                  
    a.intro:hover{
    text-decoration: none;
    color: #111111;
  /* color: gold; */
    }

    a.intro.selected{
    background-color: blue;
   }
                
    .int{
        text-align: left;
        text-overflow: clip;
        font-size: inherit;
        width: 206px;
        padding-bottom:28%;
        margin: 0.5rem!important;
        margin-top: 0.5rem !important;
     }

    .col{
  /* text-align: center; */
    text-decoration: none;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 2px;
    width: unset;
    max-width: 100%;
    padding: 64px;
    }

    .Header{
    text-align:flex;
    }

  .logo-image {
  justify-content:start ;
  height: 32px;
  width: auto;
  /* padding: 16px; */
  padding: var(--sp16);
  padding-right: var(--sp8);

  }

    .link-style{
    text-align: center;
    font-size: large;
    color: black;
    }

    .key-style{
    text-align: left;
    color: #4d4a4a;
    text-decoration: none;
    }

    .key-style:hover{
    color: black;
    }

    .Mod {
    text-align: left;
    /* margin-top: -55px; */
    /* font-size:medium; */
    }

    .mod p {
    text-align: center;
    }

    .parameter {
    border: initial;
    }
    .query
    {
    font-size: medium;
    text-align: left;
    }

    .method
    {
    text-align: left;
    font-size: medium;
    }

    .title
    {
    text-align:left;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
    /* text-decoration: underline; */
    }

    .title:hover{
    color: #697386;
    }

    .link-style {
    padding: 2px;
    color: black;
    text-align: right;
    }

    .nav-link {
    display: block;
    padding: 1.5rem 5rem !important;
    }

    a.nav-link {
    font-weight: bold;
    color: black;
    }

    .gito {
    text-align:justify;
    width: 93%;
    /* padding: 4px; */
    /* padding-left: 9px; */
    }

.p-gito {
  text-align: justify;
  /* width: 83%; */
  padding-left: 0px;
   width: 84%;
  }

.col-sm-6{
 width: 75%;
 padding-top: 40px;
 padding-left: 45px;
 /* border-bottom: 1px solid #cdc5c5; */
 color: #697386;
 line-height: 24px;
   
}
.col-sm-8{
/* padding-left: 45px; */
color: #697386;
line-height: 24px;
}

body {
 font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

tbody{
  padding: 10px;
  }
  .copyright
   {
    background-color:rgb(44, 44, 44);
    text-align: center;
    color: white;
    padding: 10px;
    }



 --header.css--

.Header
    {
    display: flex;
    /* justify-content: center; */
    }

    /* .mr-auto
    {
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: black;
    background-color=red;
    height: 55px;
    } */

      .fixed-top 
    {
/* position: fixed; */
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    /* padding: 2px; */
    }

    .sub{
      text-align: left;
      margin-bottom: 25px;
    }

    .Authentication{
      text-align: left;
      margin-bottom: 25px;
      /* margin-top: -59px; */
    }

    .summary{
      text-align: left;
      margin-bottom: 25px;
    }

    
    .sub-authentication 
    {
      text-align: justify;
      padding: 0;
      width: 76%;
      /* width: 99%; */
  }
  .List{
    color: #697386;
  }
  .List:hover{
    color: black;
  }

  .important-note{
  text-align: left;
  margin-bottom: 25px;
    }

    .string
    {
    text-align: left;
    margin-top: -29px;
    }
    .sub-string{
      margin-bottom: 8px;
    }

    .http
    {
    text-align: left;
    }
    .sub-http{
      margin-bottom: 25px;
    }

    .Response
      {
    text-align: left;
    margin-top: -30px;
    }
    .auto-response{
      margin-bottom: 25px;
    }
    .sub-response{
      text-align: justify;
    }
    .subresponse{
      text-align: left;
      width: 90%;
    }
    .p-a{
      text-align: left;
      width: 93%;
    }

    .text-center.copyright
    {
    /* background-color: rgb(206, 240, 235); */
    background-color: rgb(241, 245, 239);
    text-align: center;
    color: black;
    padding: 10px;
    }

    .method-intro
    {
    text-align: left;
    width: 18%;
    }
    
    @media only screen and (max-width: 768px){

      .Main-body {
           margin-left: 0px;
      }
      }
      .col-sm-8{
        color: #697386;
        padding-left: 45px;
      }