body{
  text-align: center;
  margin: 0;
  word-break: break-all;
}

.side-main{
  background-color: white;
  text-align: center; 
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 275px;
  background-color:#333333 ;
  height: 100%;
  position: fixed;
  margin-top: 80px;
  top: 2px;
  text-underline-position: below;
  overflow: auto;
  scroll-behavior: auto;
}

.sb-btn{
  text-align:left;
  width: 100%;
  height: 40px;
  border: none;
  background: #333333;
  margin-bottom: 1px;
  padding: 5px;
  overflow: auto;
  color: aliceblue;
  /* font-size: medium;
  font-weight: 600; */
}

.sidebar-style{
  text-align: center;
  padding: 21px;
}

.side{
  background-color: darkgray;
  
}

.fixed-side-bar{
position: fixed;
 text-decoration: none;
 text-align: left;
  
}
.Main-body {
  margin-left: 260px;
  padding-top: 50px;
  background-color: rgb(251, 249, 249);
  padding: 62px;
  font-family: Arial, Helvetica, sans-serif;
  /* font-weight: 400; */
  width: fit-content;
}

.Content{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font-size: medium;
  text-align: left;
  
}


.heading{
  width: 94%;
  color:white;
  background-color:  rgb(134, 128, 128);
}


.header{
   background-color:white;
}

.intro{
  color:black;
  text-decoration: none;
  text-align:left;
  color: aliceblue;
}

.int{
  text-align: left;
  text-overflow: clip;
  font-size: inherit;
  /* font-weight: 400; */
  /* width: 226px; */
  width: 206px;
}

.col{
  /* text-align: center; */
      text-decoration: none;
      font-size:larger;
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
      padding: 2px;
      width: unset;
      max-width: 100%;
      padding: 64px;
}

.Header{
  text-align:flex;
}

.logo-image{
    height: 61px;
    width: auto;
}

.link-style{
  text-align: center;
  font-size: large;
  color: black;
}

.key-style{
  text-align: center;color:white;
  /* font-weight:bold; */
  background-color: rgb(134, 128, 128);
}

.Mod{
    text-align: left;
    font-size:medium;
}
.mod p{
    text-align: center;
}

.parameter{
     border: initial;
}
.query{
    font-size: medium;
    text-align: left;
}
.method{
    text-align: left;
    font-size: medium;
}
.title{
  text-align: center;
  font-size: medium;
  font-weight: bold;
  background-color: #a6a3a0;
  text-transform: uppercase;
}
.link-style{
  padding: 2px;
  color: black;
}
.nav-link {
  display: block;
  padding: 1.5rem 5rem !important;

}
a.nav-link {
  font-weight: bold;
  color: black;
}
