tbody{
    padding: 10px;
}
.table{
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 5rem;
}
.table-sm td, .table-sm th {
    padding: 1.3rem;
    background-color: rgb(214, 210, 210);
    /* text-align: center; */
    border-collapse: 10px ;
    border-radius: 5px;
    border-color:rgb(68, 67, 67);
    width:2px;
}

.table-sm thead{
    padding: 1.3rem;
    background-color:rgb(59, 58, 58);
    /* text-align: center; */
    box-decoration-break: clone;
}

.table-sm td, .table-sm th :hover{
    color:grey;
}

.copyright{
    background-color:rgb(44, 44, 44);
    text-align: center;
    color: white;
    padding: 10px;
}

.tr{
    text-align: center;
}

.table, td, th {
    border: 1px white;
    width: 45%;
    color: black;
    box-sizing: inherit;
    
  }
  
  table {
    border-collapse: collapse;
    width: 50%;
    border-radius: 2px;
    background-color: darkgray;
  }
  
  td {
    height: 50px;
    vertical-align: bottom;
    border: 1px solid rgb(36, 35, 35);
    background-color:rgb(236, 231, 231);
    color: black;
  }
 